.card {
    height: 200px;
    width: 200px;
    background-color: turquoise;
    border-radius: 20px;
    border: 2px solid black;
    padding-left: 20px;
}

.campoCompilazione {
    display: flex;
    align-items: center;
    justify-content: start;
}

.titolo {
    padding: 10px;
}

.paragrafo {
    padding: 10px;
}

.bottone {
    padding: 10px;
}